{% layout '_layouts/admin.liquid' %}
{% block view %}
  <div class="pt-1 pb-2">
    <a class="inline-block px-4 py-2 rounded hover:bg-pink-50 hover:text-pink-600" href="/admin/hyperspace">All DBs</a>
    <a class="inline-block px-4 py-2 rounded hover:bg-pink-50 hover:text-pink-600" href="/admin/hyperspace/log">Log</a>
    <a class="inline-block px-4 py-2 rounded bg-pink-50 text-pink-600 hover:bg-pink-50 hover:text-pink-600" href="">View DB</a>
  </div>
  <app-hyperspace-view-db></app-hyperspace-view-db>
  <script type="module" src="/js/admin/hyperspace-view-db.js"></script>
{% endblock %}