{% layout '_layouts/admin.liquid' %}
{% block view %}
  <div class="bg-white sm:rounded px-4 py-3 my-2">
    <h1 class="text-2xl font-semibold">CTZN admin</h1>
    <p>This is a work in progress! Please excuse the mess.</p>
  </div>
{% endblock %}