

<h1>Front page</h1>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/notifications">Notifications</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/search">Search</a></li>
</ul>

<script>
const socket = new WebSocket('ws://localhost:3000');

// Connection opened
socket.addEventListener('open', function (event) {
    socket.send('Hello Server!');
});

// Listen for messages
socket.addEventListener('message', function (event) {
    console.log('Message from server ', event.data);
});
</script> 