<h1>Search view</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/notifications">Notifications</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/search">Search</a></li>
</ul>