<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CTZN</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/favicon.png">
  </head>
  <body>
    <ctzn-user></ctzn-user>
    <script type="module" src="/js/user.build.js"></script>
  </body>
</html>
