<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>CTZN Admin</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="icon" href="/img/favicon.png">
    <script type="module" src="/js/admin/session.js"></script>
  </head>
  <body class="bg-gray-200 antialiased">
    <div class="bg-white shadow">
      <main class="flex">
        <!-- nav -->
        <a
          class="block px-3 py-2 text-lg font-semibold cursor-pointer border-b-2 border-gray-100 {% if topnav == 'dashboard' %}bg-gray-50 border-pink-600{% else %}hover:bg-gray-50{% endif %}"
          href="/admin"
        >
          <span class="fas fa-home fa-fw"></span> Dashboard
        </a>
        <a
          class="block px-3 py-2 text-lg font-semibold cursor-pointer border-b-2 border-gray-100 {% if topnav == 'hyperspace' %}bg-gray-50 border-pink-600{% else %}hover:bg-gray-50{% endif %}"
          href="/admin/hyperspace"
        >
          <span class="fas fa-database fa-fw"></span> Hyperspace
        </a>
        <a
          class="block px-3 py-2 text-lg font-semibold cursor-pointer border-b-2 border-gray-100 {% if topnav == 'users' %}bg-gray-50 border-pink-600{% else %}hover:bg-gray-50{% endif %}"
          href="/admin/users"
        >
          <span class="fas fa-users fa-fw"></span> Users
        </a>
        <a
          class="block px-3 py-2 text-lg font-semibold cursor-pointer border-b-2 border-gray-100 {% if topnav == 'issues' %}bg-gray-50 border-pink-600{% else %}hover:bg-gray-50{% endif %}"
          href="/admin/issues"
        >
          <span class="fas fa-exclamation-triangle fa-fw"></span> Issues (0)
        </a>
      </div>
    </div>
    <div>
      <main class="px-2 py-1">
        <!-- view -->
        <app-session></app-session>
        {% block view %}View goes here{% endblock %}
      </main>
    </div>
  </body>
</html>
