@import "./fontawesome.css";

body {
  --system-font: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  --code-font: Consolas, 'Lucida Console', Monaco, monospace;
  background: var(--bg-color--default);
  font-family: var(--system-font);
  color: var(--text-color--default);
  font-size: 15px;
  margin: 0;
}

code {
  font-family: var(--code-font);
  font-style: normal;
}

body {
  --blue: #2864dc; /* this is a leftover that ought to get replaced */
  --border-color--default: #bbc;
  --border-color--light: #ccd;
  --border-color--dark: #99a;
  --border-color--semi-light: #dde;
  --border-color--very-light: #dfdfef;
  --border-color--private-light: #b7c7b0;
  --border-color--unread: #e0e1ff;
  --border-color--focused: #2864dc;
  --border-color--highlight: rgb(156, 156, 255);
  --text-color--default: #333;
  --text-color--lightish: #555;
  --text-color--light: #667;
  --text-color--pretty-light: #737380;
  --text-color--very-light: #bbc;
  --text-color--link: #4040e7;
  --text-color--result-link: blue;
  --text-color--markdown-link: #4040e7;
  --text-color--private-default: #518680;
  --text-color--private-link: #02796d;
  --text-color--warning: #d7a92b;
  --text-color--error: #f00;
  --bg-color--default: #fff;
  --bg-color--secondary: #fafafd;
  --bg-color--light: #fafafd;
  --bg-color--semi-light: #f0f0f6;
  --bg-color--dark: #eeeeef;
  --bg-color--private-light: #f5faf7;
  --bg-color--private-semi-light: #edf6f1;
  --bg-color--light-highlight: #f7faff;
  --bg-color--selected: var(--text-color--link);
  --bg-color--unread: #f2f3ff;
  --bg-color--unread-hover: #f8f9ff;
  --bg-color--error: #fee;
  --bg-color--highlight: rgb(248, 249, 255);
}

@media (prefers-color-scheme: dark) {
  body {
    --border-color--default: #669;
    --border-color--light: #558;
    --border-color--dark: #88a;
    --border-color--semi-light: #447;
    --border-color--very-light: #334;
    --border-color--private-light: #3a5a4c;
    --border-color--unread: #9497f5;
    --text-color--default: #ccd;
    --text-color--lightish: #bbc;
    --text-color--light: #aab;
    --text-color--pretty-light: #99a;
    --text-color--very-light: #557;
    --text-color--link: #5d80ff;
    --text-color--result-link: #587bfb;
    --text-color--markdown-link: #5d80ff;
    --text-color--private-default: #69a59e;
    --text-color--private-link: #04a294;
    --text-color--warning: #d7a92b;
    --text-color--error: #f00;
    --bg-color--default: #223;
    --bg-color--secondary: #1b1b2b;
    --bg-color--light: #334;
    --bg-color--semi-light: #445;
    --bg-color--private-light: #202f2f;
    --bg-color--private-semi-light: #354a48;
    --bg-color--light-highlight: #3e3e5a;
    --bg-color--selected: var(--text-color--link);
    --bg-color--unread: #333658;
    --bg-color--error: #fee;
  }
}