@import "/css/common.css";
@import "/css/fontawesome.css";

body {
  --border-color--focused: #7599ff;
  --text-color--nav--highlight: #445;
  --bg-color--nav-count: #E91E63;

  font-size: 13px;
  background: var(--bg-color--default);
  color: var(--text-color--default);
}

@media (prefers-color-scheme: dark) {
  body {
    --border-color--focused: #7599ff;
    --text-color--nav--highlight: #bbc;
    --bg-color--nav-count: #E91E63;
  }
}