/* core styles */

app-custom-html .sanitized {
  overflow-wrap: break-word;
  word-break: break-word;
}

app-custom-html h1.sanitized,
app-custom-html h2.sanitized,
app-custom-html h3.sanitized,
app-custom-html h4.sanitized,
app-custom-html h5.sanitized,
app-custom-html h6.sanitized,
app-custom-html p.sanitized,
app-custom-html ul.sanitized,
app-custom-html ol.sanitized,
app-custom-html table.sanitized,
app-custom-html blockquote.sanitized,
app-custom-html figcaption.sanitized,
app-custom-html dl.sanitized {
  margin-bottom: 1rem;
}

app-custom-html h1.sanitized {
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-weight: 700;
}

app-custom-html h2.sanitized {
  font-size: 1.15rem;
  line-height: 1.6rem;
  font-weight: 700;
}

app-custom-html h3.sanitized {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

app-custom-html h4.sanitized {
  font-size: 1.05rem;
  line-height: 1.4rem;
  font-weight: 600;
}

app-custom-html h5.sanitized {
  font-size: 1.0rem;
  line-height: 1.4rem;
  font-weight: 600;
}

app-custom-html h6.sanitized {
  font-size: 1.0rem;
  line-height: 1.4rem;
  font-weight: 500;
}

app-custom-html ul.sanitized {
  list-style-type: disc;
}

app-custom-html ol.sanitized {
  list-style-type: decimal;
}

app-custom-html ul.sanitized ul.sanitized,
app-custom-html ul.sanitized ol.sanitized,
app-custom-html ol.sanitized ul.sanitized,
app-custom-html ol.sanitized ol.sanitized {
  margin-bottom: 0;
}

app-custom-html li.sanitized {
  margin-left: 1.5rem;
}

app-custom-html table.sanitized {
  border-collapse: collapse;
}

app-custom-html td.sanitized {
  border: 1px solid rgb(209, 213, 219);
  padding: 0.25rem 0.5rem;
  word-break: initial;
}

@media (max-width: 640px) {
  app-custom-html table.sanitized,
  app-custom-html tr.sanitized,
  app-custom-html td.sanitized {
    display: block;
  }
  app-custom-html th.sanitized {
    display: none;
  }
  app-custom-html tr.sanitized {
    margin-bottom: 0.5rem;
  }
  app-custom-html td.sanitized {
    padding: 0.5rem 0.75rem;
  }
  app-custom-html td.sanitized:not(:first-child) {
    border-top: 0;
  }
}

app-custom-html blockquote.sanitized {
  border-left: 0.5rem solid rgb(243, 244, 246);
  padding: 0.8rem 0.5rem 0.8rem 1rem;
  color: rgb(75, 85, 99);
}

app-custom-html blockquote.sanitized > :last-child {
  margin-bottom: 0;
}

app-custom-html pre.sanitized {
  margin-bottom: 0.75rem;
  overflow-x: auto;
  font-size: 0.9em;
}

app-custom-html dl.sanitized {
  margin-bottom: 0.75rem;
}

app-custom-html dt.sanitized {
  font-weight: 600;
  font-style: italic; 
}

app-custom-html dd.sanitized {
  padding-left: 1.5rem;
}

app-custom-html dd.sanitized:last-child {
  margin-bottom: 0;
}

app-custom-html hr.sanitized {
  margin: 1.5rem 0;
  border: 1px solid rgb(209, 213, 219);
}

app-custom-html a.sanitized {
  color: rgb(37, 99, 235);
}

app-custom-html a.sanitized:hover {
  text-decoration: underline;
}

app-custom-html em.sanitized {
  font-style: italic;
}

app-custom-html i.sanitized {
  font-style: italic;
}

app-custom-html strong.sanitized {
  font-weight: 600;
}

app-custom-html b.sanitized {
  font-weight: 600;
}

app-custom-html code.sanitized {
  background: rgb(243, 244, 246);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

app-custom-html kbd.sanitized {
  border-bottom: 1px solid rgb(107, 114, 128);
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  background: rgb(229, 231, 235);
}

app-custom-html svg {
  max-width: 100%;
}

/* profile context */

app-custom-html[context="profile"] .sanitized[ctzn-elem="1"] {
  display: block;
  border: 1px solid #D1D5DB;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
}

@media (max-width: 1024px) {
  app-custom-html[context="profile"] > .sanitized[ctzn-elem="1"]:first-child {
    border-top: 0;
  }
  app-custom-html[context="profile"] > .sanitized[ctzn-elem="1"] {
    border-radius: 0;
  }
  app-custom-html[context="profile"] > .sanitized[ctzn-elem="1"] + .sanitized[ctzn-elem="1"] {
    border-top: 0;
    margin-top: -0.75rem;
  }
}

@media (max-width: 640px) {
  app-custom-html[context="profile"] > .sanitized[ctzn-elem="1"] {
    border-left: 0;
    border-right: 0;
  }
}

app-custom-html[context="profile"] ctzn-post-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
}

app-custom-html[context="profile"] ctzn-comment-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
}

app-custom-html[context="profile"] > .sanitized:not([ctzn-elem="1"]) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 640px) {
  app-custom-html[context="profile"] > .sanitized:not([ctzn-elem="1"]) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

app-custom-html[context="profile"] > .sanitized:not([ctzn-elem="1"]) {
  margin-top: 0.75rem;
}

app-custom-html[context="profile"] > .sanitized[ctzn-elem="1"] + .sanitized:not([ctzn-elem="1"]) {
  margin-top: 1rem;
}

app-custom-html[context="profile"] > blockquote.sanitized {
  border-left-color: #9CA3AF;
  color: #1F2937;
}

app-custom-html[context="profile"] ctzn-post-view.sanitized[mode="content-only"],
app-custom-html[context="profile"] ctzn-comment-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
  background: #fff;
  border-radius: 0.25rem;
}

@media (max-width: 639px) {
  app-custom-html[context="profile"] ctzn-post-view.sanitized[mode="content-only"],
  app-custom-html[context="profile"] ctzn-comment-view.sanitized[mode="content-only"] {
    border-radius: 0;
  }
}

/* page context */

app-custom-html[context="page"] .sanitized[ctzn-elem="1"] {
  display: block;
  border: 1px solid #D1D5DB;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
}

app-custom-html[context="page"] > * {
  max-width: 660px;
}

app-custom-html[context="page"] > table {
  max-width: none;
}

app-custom-html[context="page"] ctzn-post-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
}

app-custom-html[context="page"] ctzn-comment-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
}

app-custom-html[context="page"] > .sanitized[ctzn-elem="1"] + .sanitized:not([ctzn-elem="1"]) {
  margin-top: 1rem;
}

app-custom-html[context="page"] h1.sanitized,
app-custom-html[context="page"] h2.sanitized,
app-custom-html[context="page"] h3.sanitized,
app-custom-html[context="page"] h4.sanitized,
app-custom-html[context="page"] h5.sanitized,
app-custom-html[context="page"] h6.sanitized,
app-custom-html[context="page"] p.sanitized,
app-custom-html[context="page"] ul.sanitized,
app-custom-html[context="page"] ol.sanitized,
app-custom-html[context="page"] table.sanitized,
app-custom-html[context="page"] blockquote.sanitized,
app-custom-html[context="page"] figcaption.sanitized,
app-custom-html[context="page"] dl.sanitized {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

app-custom-html[context="page"] h1.sanitized {
  font-size: 2.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
}

@media (max-width: 640px) {
  app-custom-html[context="page"] h1.sanitized {
    font-size: 1.75rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
  }
}

app-custom-html[context="page"] h2.sanitized {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
}

@media (max-width: 640px) {
  app-custom-html[context="page"] h2.sanitized {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
}

app-custom-html[context="page"] h3.sanitized {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

@media (max-width: 640px) {
  app-custom-html[context="page"] h3.sanitized {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
}

app-custom-html[context="page"] h4.sanitized {
  font-size: 1.25rem;
  margin-top: 2rem;
}

@media (max-width: 640px) {
  app-custom-html[context="page"] h3.sanitized {
    font-size: 1.15rem;
    margin-top: 1.5rem;
  }
}

app-custom-html[context="page"] h5.sanitized {
  font-size: 1.15rem;
  margin-top: 2rem;
}

@media (max-width: 640px) {
  app-custom-html[context="page"] h3.sanitized {
    font-size: 1.05rem;
    margin-top: 1.5rem;
  }
}

app-custom-html[context="page"] h6.sanitized {
  font-size: 1.0rem;
  font-weight: 800;
  margin-top: 2rem;
}

app-custom-html[context="page"] > blockquote.sanitized {
  border-left-color: #9CA3AF;
  color: #1F2937;
}

app-custom-html[context="page"] ctzn-post-view.sanitized[mode="content-only"],
app-custom-html[context="page"] ctzn-comment-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
  background: #fff;
  border-radius: 0.25rem;
}

@media (max-width: 639px) {
  app-custom-html[context="page"] ctzn-post-view.sanitized[mode="content-only"],
  app-custom-html[context="page"] ctzn-comment-view.sanitized[mode="content-only"] {
    border-radius: 0;
  }
}

/* post context */

app-custom-html[context="post"] .sanitized[ctzn-elem="1"] {
  display: block;
  border: 1px solid #D1D5DB;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
}

app-custom-html[context="post"] ctzn-post-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
}

app-custom-html[context="post"] ctzn-comment-view.sanitized[mode="content-only"] {
  padding: 0.5rem 0.75rem;
}