$color: #000;
$color-link: #2563EB;
$color-light: #4B5563;
$color-dark: #000;
$color-error: red;
$color-empty: #6B7280;
$color-button-disabled: #6B7280;
$color-button-primary: #fff;
$color-button-primary-disabled: #EFF6FF;
$color-post-controls: #4B5563;
$color-comment-controls: #4B5563;
$color-reaction: #4B5563;
$color-reaction-selected: #0065f3;
$color-more-images: #fff;
$color-notification-unread: #0c3d89;
$color-notification-icon: #727c8b;
$color-notification-icon-unread: #5894ea;
$color-header-nav-item: #000;
$color-header-nav-item-selected: #0065f3;
$color-header-search-placeholder-icon: #4B5563;
$color-user-right-nav-item: $color-light;
$color-user-right-nav-item-selected: #004bb4;
$color-subnav-item-selected: #0065f3;
$bgcolor: #fff;
$bgcolor-light: #F9FAFB;
$bgcolor-label: #eee;
$bgcolor-error: #ffc7c7;
$bgcolor-empty: #F3F4F6;
$bgcolor-button: #fff;
$bgcolor-button-hover: #F3F4F6;
$bgcolor-button-disabled: #F3F4F6;
$bgcolor-button-primary: #2563EB;
$bgcolor-button-primary-hover: #1D4ED8;
$bgcolor-button-primary-disabled: #60A5FA;
$bgcolor-button-transparent-hover: #F3F4F6;
$bgcolor-button-transparent-disabled: #F3F4F6;
$bgcolor-highlighted-comment: #EFF6FF;
$bgcolor-reaction: #F9FAFB;
$bgcolor-reaction-selected: #e8f3ff;
$bgcolor-more-images: rgba(0,0,0,.85);
$bgcolor-notification-unread: #edf5ff;
$bgcolor-user-right-nav-item: $bgcolor;
$bgcolor-user-right-nav-item-selected: #ddecff;
$bgcolor-subnav-underline: #0065f3;
$bgcolor-placeholder-avatar: #eee;
$bordercolor: #D1D5DB;
$bordercolor-button: $bordercolor;
$bordercolor-button-primary: #1E40AF;
$bordercolor-notification-unread: #93C5FD;
$bordercolor-comments-aligner: #E5E7EB;
$bordercolor-highlighted-comment: #BFDBFE;
$bordercolor-user-right-nav-item: $bordercolor;
$bordercolor-user-right-nav-item-selected: #2a84e8;

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

@mixin white-glass () {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.9);
}

body.theme-vanilla {
  background: $bgcolor;
  color: $color;

  // common elements
  // =

  .link {
    color: $color-link;
  }
  app-button button {
    border-radius: 0.25rem;
    background: $bgcolor-button;
    box-shadow: 0 1px 2px #0002;
    border: 1px solid $bordercolor-button;

    &:hover {
      background: $bgcolor-button-hover;
    }
    &.disabled {
      background: $bgcolor-button-disabled;
      color: $color-button-disabled;
    }
    &.primary {
      background: $bgcolor-button-primary;
      color: $color-button-primary;
      border-color: $bordercolor-button-primary;
      &:hover {
        background: $bgcolor-button-primary-hover;
      }
      &.disabled {
        background: $bgcolor-button-primary-disabled;
      }
    }
    &.transparent {
      background: transparent;
      border-color: transparent;
      box-shadow: none;
      &:hover {
        background: $bgcolor-button-transparent-hover;
      }
      &.disabled {
        background: $bgcolor-button-transparent-disabled;
      }
    }
  }
  hr {
    border: 0;
    border-top: 1px solid $bordercolor;
  }
  input[type="text"],
  input[type="password"],
  textarea {
    background: transparent;
    border: 1px solid $bordercolor;
    border-radius: 0.25rem;
  }
  .error {
    background: $bgcolor-error;
    color: $color-error;
  }
  .empty {
    background: $bgcolor-empty;
    color: $color-empty;
  }
  .popup-inner {
    background: $bgcolor;
    @media (min-width: $screen-sm) {
      border-radius: 1rem;
      box-shadow: 0 2px 4px #0002;
      border: 1px solid $bordercolor;
    }
  }
  .reaction {
    color: $color-reaction;
    background: $bgcolor-reaction;
    font-size: 13px;
    border-radius: 0.25rem;

    .emoji {
      width: 1em !important;
    }

    &.is-selected {
      color: $color-reaction-selected;
      background: $bgcolor-reaction-selected;
    }
  }

  .bg-loading-gradient {
    background: linear-gradient(to right, rgb(249, 250, 251), rgb(237, 239, 240), rgb(249, 250, 251));
    background-size: 200% 200%;
    animation: bg-loading-gradient 2s linear infinite;
  }
  @keyframes bg-loading-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

  // shell
  // =

  app-header {
    .desktop-header {
      @include white-glass();
      border-bottom: 1px solid $bordercolor;

      .desktop-header-inner {
        max-width: 920px;
        margin: 0 auto;
      }

      .nav-item {
        padding: 1rem 0.5rem calc(1rem - 2px);
        font-weight: bold;
        font-size: 18px;
        border-bottom: 2px solid transparent;
        color: $color-header-nav-item;

        & + .nav-item {
          margin-left: 0.25rem;
        }
      }

      .nav-item:hover,
      .nav-item.is-selected {
        color: $color-header-nav-item-selected;
        border-bottom: 2px solid $color-header-nav-item-selected;
      }

      .search-placeholder {
        border: 1px solid transparent;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 1rem;
        padding: 0.5rem 1rem;

        .search-placeholder-icon {
          color: $color-header-search-placeholder-icon;
          font-size: 14px;
        }
        .search-placeholder-text {
          color: $color-light;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .search-container {
        border-radius: 0.25rem;
        background: $bgcolor;
        border: 1px solid $bordercolor;
        box-shadow: 0 2px 4px #0002;
      }
    }
  }
  app-subnav {
    @include white-glass();
    border-bottom: 1px solid $bordercolor;
    @media (min-width: $screen-sm) {
      border-left: 1px solid $bordercolor;
      border-right: 1px solid $bordercolor;
    }

    .nav-item {
      font-weight: 500;

      &:hover,
      &.is-selected {
        color: $color-subnav-item-selected;
      }
    }

    .underline {
      background: $bgcolor-subnav-underline;
    }
  }

  // content
  // =

  app-comment-composer {}
  app-comment {
    .as-reply-wrapper,
    .content-only-wrapper {
      background: $bgcolor;
    }

    .avatar {
      border-radius: 50%;
    }

    .comment-metadata {
      color: $color-comment-controls;
      font-size: 13px;
    }

    .display-name {
      color: $color-dark;
      font-weight: 500;
      font-size: 14px;
    }

    .comment-date {
      font-size: 13px;
    }

    .comment-text {
      font-size: 17px;
    }

    .comment-actions {
      color: $color-comment-controls;
      font-size: 13px;
    }

    .comment-composer-wrapper {
      border: 1px solid $bordercolor;
      border-radius: 0.25rem;
      background: $bgcolor;
    }
  }
  app-comments-feed {}
  app-current-status {
    .section {
      border: 1px solid $bordercolor;
      border-bottom: 0;
      &:last-child {
        border-bottom: 1px solid $bordercolor;
      }
      padding: 0.5rem 1rem;

      .label {
        color: $color-light;
      }
    }
  }
  app-notification {
    .wrapper {
      background: $bgcolor;
    }

    &.is-unread .icon-wrapper {
      background: $bgcolor-notification-unread;
    }

    .icon {
      font-size: 21px;
      color: $color-notification-icon;
    }

    .is-unread .icon {
      color: $color-notification-icon-unread;
    }

    .avatar {
      border-radius: 50%;
    }

    .display-name {
      font-weight: bold;
    }

    .subject-wrapper {
      color: $color;
    }

    .comment-wrapper {
      border: 1px solid $bordercolor;
      border-radius: 1rem;
      background: $bgcolor;
      color: $color;
    }
  }
  app-notifications-feed {
    .placeholder,
    app-notification {
      border: 1px solid $bordercolor;
      &:not(.is-first) {
        border-top: 0;
      }
      &.is-unread {
        border-color: $bordercolor-notification-unread;
      }
      @media (max-width: $screen-sm) {
        border-left: 0;
        border-right: 0;
      }
    }

    .placeholder {
      .avatar {
        border-radius: 50%;
        background: $bgcolor-placeholder-avatar;
      }
    }
  }
  app-post-composer {}
  app-post {
    .default-wrapper,
    .expanded-wrapper {
      background: $bgcolor;
    }

    .avatar {
      border-radius: 50%;
    }

    .post-metadata {
      color: $color-post-controls;
      font-size: 16px;
    }

    .display-name {
      color: $color-dark;
      font-weight: bold;
      font-size: 17px;
    }

    .post-date {
      font-size: 15px;
    }

    .post-text {
      font-size: 17px;
    }

    .actions-summary {
      border-top: 1px solid $bordercolor;
      border-bottom: 1px solid $bordercolor;
      font-size: 14px;
      color: $color-post-controls;

      .reaction {
        margin-right: 0.25rem;
      }
    }

    .post-actions {
      color: $color-post-controls;
    }

    .post-media {
      .item-wrapper {
        border-radius: 0.25rem;
        background: $bgcolor-light;
      }

      .item {
        border-radius: 0.25rem;
        border: 1px solid $bordercolor;
      }
      
      .more-images {
        font-weight: bold;
        border-radius: 0.25rem;
        font-size: 16px;
        color: $color-more-images;
        background: $bgcolor-more-images;
      }
    }
  }
  app-posts-feed {
    .placeholder:not(.is-first),
    app-post:not(.is-first) {
      border-top: 1px solid $bordercolor;
    }

    .placeholder {
      .avatar {
        border-radius: 50%;
        background: $bgcolor-placeholder-avatar;
      }
    }
  }
  app-thread {
    @media (min-width: $screen-sm) {
      border: 1px solid $bordercolor;
      border-top: 0;
    }

    .comment-composer-placeholder {
      color: $color-light;
      background: $bgcolor-light;
      border-radius: 0.25rem;
    }
    .comment-composer-wrapper {
      border: 1px solid $bordercolor;
      border-radius: 0.25rem;
      background: $bgcolor;
    }
    .comments-container {
      border-left: 2px solid $bordercolor-comments-aligner;
    }
    .comment-container {
      &.highlight {
        background: $bgcolor-highlighted-comment;
        border: 1px solid $bordercolor-highlighted-comment;
        border-left-width: 2px;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  // users
  // =

  app-edit-profile {
    .header {
      border-bottom: 1px solid $bordercolor;
      .label {
        font-size: 19px;
        font-weight: 500;
      }
    }
    .nav {
      @media (min-width: $screen-sm) {
        border-right: 1px solid $bordercolor;
      }
      @media (max-width: $screen-sm) {
        border-bottom: 1px solid $bordercolor;
      }

      .nav-item {
        &:hover {
          background: $bgcolor-light;
        }
        &.is-selected {
          color: $color-header-nav-item-selected;
          @media (min-width: $screen-sm) {
            border-right: 4px solid $color-header-nav-item-selected;
          }
          @media (max-width: $screen-sm) {
            border-bottom: 1px solid $color-header-nav-item-selected;
          }
        }
      }
    }

    .img-input {
      border-radius: 0.5rem;
      border: 1px solid $bordercolor;
    }
  }
  app-followers-list {
    .is-toggleable:hover {
      color: $color-link;
    }

    .label {
      font-size: 18px;
      font-weight: 600;
    }

    .count {
      color: $color-light;
      font-weight: bold;
    }

    .shared {
      color: $color-light;
    }
  }
  app-following-list {
    .is-toggleable:hover {
      color: $color-link;
    }

    .label {
      font-size: 18px;
      font-weight: 600;
    }

    .count {
      color: $color-light;
      font-weight: bold;
    }
  }
  app-mini-profile {
    .avatar {
      border-radius: 0.25rem;
    }
  }
  app-searchable-user-list {
    .wrapper {
      &.widget-mode {
        border-bottom: 1px solid $bordercolor;
        font-size: 14px;
      }
      &.page-mode {
        border-top: 1px solid $bordercolor;
        border-bottom: 1px solid $bordercolor;
      }
    }
    input {
      border: 0 !important;
    }
    .search-icon {
      font-size: 14px;
      color: $color-light;
    }
    .result {
      border-bottom: 1px solid $bordercolor;
      font-size: 14px;
      &:hover,
      &.is-selected {
        background: $bgcolor-light;
      }
    }
    .result-icon {
      background: $bgcolor-light;
      border-radius: 0.25rem;
    }
    .avatar {
      border-radius: 0.25rem;
    }
    .results-heading {
      font-size: 13px;
      font-weight: bold;
      border-bottom: 1px solid $bordercolor;
    }
  }
  app-user-list {
    .user {
      border-radius: 0.25rem;
      border: 1px solid $bordercolor;

      .banner-container,
      .banner-container img {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }

      .avatar {
        border: 2px solid $bgcolor;
        border-radius: 1rem;
        box-shadow: 0 2px 4px #0002;
        background: $bgcolor;
      }

      .display-name {
        font-weight: bold;
        font-size: 18px;
      }

      .user-id {
        font-weight: 500;
        color: $color-light;
        font-size: 14px;
      }

      .description {
        font-size: 14px;
      }
      
      .label {
        color: $color-light;
        background: $bgcolor-label;
        font-size: 14px;
        border-radius: 0.25rem;
      }
    }
  }
  app-simple-user-list {
    .user {
      border-top: 1px solid $bordercolor;

      .avatar {
        border-radius: 0.25rem;
      }

      .user-id {
        font-size: 14px;
        color: $color-light;
      }
    }
  }
  app-users-input {}

  // views
  // =

  app-account-view {}
  app-forgot-password-view {}
  app-main-view {
    .content-header {
      border-left: 1px solid $bordercolor;
      border-right: 1px solid $bordercolor;
    }

    app-posts-feed {
      border-top: 1px solid $bordercolor;
      
      @media (min-width: $screen-sm) {
        border: 1px solid $bordercolor;
      }
    }
  }
  app-notifications-view {
    .content-header {
      border-left: 1px solid $bordercolor;
      border-right: 1px solid $bordercolor;
    }
  }
  app-signup-view {}
  app-thread-view {}
  app-user-view {
    app-posts-feed {
      border-top: 1px solid $bordercolor;
      
      @media (min-width: $screen-sm) {
        border: 1px solid $bordercolor;
      }
    }

    app-followers-list,
    app-following-list,
    .info-block {
      border: 1px solid $bordercolor;
      @media (max-width: $screen-sm) {
        border-top: 0;
      }
    }

    .info-block .dbkey {
      background: $bgcolor-light;
      border-radius: 0.25rem;

      .dbkey-text {
        font-family: monospace;
        font-size: 13px;
      }
    }

    #right-nav-profile {
      .avatar {
        border: 2px solid $bgcolor;
        border-radius: 1rem;
        box-shadow: 0 2px 4px #0002;
        background: $bgcolor;
      }

      .display-name {
        font-size: 2rem;
        font-weight: bold;
      }

      .userid {
        color: $color-light;
        font-weight: bold;
      }

      .profile-stat {
        font-weight: 600;
        color: $color-light;
      }
    }

    .mini-right-nav-profile {
      .avatar {
        border-radius: 0.5rem;
      }

      .display-name {
        font-size: 21px;
        font-weight: 600;
      }
    }

    .right-nav-item {
      font-weight: 500;
      color: $color-user-right-nav-item;
      background: $bgcolor-user-right-nav-item;
      border-left: 2px solid $bordercolor-user-right-nav-item;

      &:hover,
      &.is-selected {
        color: $color-user-right-nav-item-selected;
        background: $bgcolor-user-right-nav-item-selected;
        border-left: 2px solid $bordercolor-user-right-nav-item-selected;
      }
    }
  }
}